Django
django-crispy-forms
uwsgi==2.0.18
sorl-thumbnail
money
django-money
pillow==6.2.1
psycopg2-binary
celery==4.4.1
django-celery-beat==2.0.0
ujson
wheel
django-redis==4.12.1
route53
tldextract
uwsgitop
django-debug-toolbar
django-model-utils
channels
channels_redis
django-extensions
daphne==2.5.0
django-flags==5.0.1
croniter
sentry-sdk==0.10.2
